@media screen and (max-width:1313px){
    .box{
        margin-left: 40px;
        margin-right: 40px;
        gap: 20px;

    }
} 
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}
@media screen and (max-width:){}